.coverage
.idea
.idea/
.idea/*
.idea2
.idea2/
.idea2*.idea
._.DS_Store
logs/*
*.tar.gz
*.tar
*.gz
data/json/*.json
*.pyc
*__pycache__*
*.egg_info*
*.egg-info*
.cache
.ipynb_checkpoints
anaconda3
.git2
*/.ipynb_checkpoints
node_modules
.DS_Store
temp/
.pytest_cache