.coverage
.idea
.idea/
.idea/*
.idea2
.idea2/
.idea2*.idea
._.DS_Store
logs/*
*.tar.gz
*.tar
*.gz
data/json/*.json
*.pyc
*__pycache__*
*.egg_info*
*.egg-info*
.cache
.ipynb_checkpoints
wandb
anaconda3
.git2
*/.ipynb_checkpoints
anonymizer_inf.log
node_modules
.DS_Store
temp/
.pytest_cache
anonymizer/oblomov.txt
anonymizer/sberbank.txt
!models/natasha/navec_news_v1_1B_250K_300d_100q.tar
!models/natasha/slovnet_morph_news_v1.tar
!models/natasha/slovnet_ner_news_v1.tar
local_notebooks/
coverage-reports/
.coverage