.wrapper {
    padding: 8px 24px;
    background: #fff;
}
.title {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #3B4E63;
    word-break: break-all;
}
.colEnd {
    text-align: end;
}
.colCenter {
    text-align: center;
}
.row {
    align-items: center;
}
.changesCol {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.changesLabel {
    margin-right: 8px;
}